dev {{ devtap }}
proto udp
remote 10.10.11.1 1194
resolv-retry infinite

topology subnet

client
#tls-client

#tun-mtu 1500
#mssfix 1300

#user nobody
#group nogroup

persist-key
persist-tun

#remote-cert-tls server
#cipher AES-256-CBC

verb 3

status /var/log/openvpn/openvpn-status.log
log-append  /var/log/openvpn/openvpn.log

#<tls-auth>
#
# 2048 bit OpenVPN static key
#
#-----BEGIN OpenVPN Static key V1-----
#0719df4dd68095a8d64c4eee3d1e1ff6
#8f4b1ae2eb096dfadefadddfbbf66cca
#d124dd36600be73c0c4b28952aec022b
#91ab3ed99f76e4bc617cff22be40b9fc
#1f98a45fa47e939b1b55e42ac7585718
#4f074a2247322609ec7cc5749950f194
#3c46144a78399797c778d8ea0026fb86
#e1a2e02eaf87002d06f9762c7dad43a9
#9717664fb7a8ffc9eef2652fc7e43eba
#dd01fc64ff67136d9b7724dae455bc7f
#8108899046fda90982102c0946a74a3e
#2e2111ccb76af2fdbdfa7938e4d352ad
#f230aff22a6baa2224325abe3f4fb76e
#cee31b5981473376b05d7f7ecceb3316
#e24caecba7b8786f1f348f5fe936e041
#-----END OpenVPN Static key V1-----
#</tls-auth>
<ca>
-----BEGIN CERTIFICATE-----
MIIDSzCCAjOgAwIBAgIULET1rkI4H9NaPeqPDG35/ERKHCYwDQYJKoZIhvcNAQEL
BQAwFjEUMBIGA1UEAwwLRWFzeS1SU0EgQ0EwHhcNMjIwMzI4MTQ0MDA1WhcNMzIw
MzI1MTQ0MDA1WjAWMRQwEgYDVQQDDAtFYXN5LVJTQSBDQTCCASIwDQYJKoZIhvcN
AQEBBQADggEPADCCAQoCggEBAN5hmyIN0lokMcxAMFkHh5WfxWLK8JiXItW60eZe
1LndBMZ7I5C8RLfWQEs9Hf2fAzJphGLbhpuBoLgM3+cdR5OUN9FOvRvQSxuBSc3T
GXyey1khrzUsqkOeBlqwmsyWjPMu5Y7IlalL9JK6efmqU1x4hz/5AJ3sY96WtIFX
0mvcfjzol9AR91k3r6sfLwHTD4YkJPRDFxORzO22pm3XpZxDr1zS7SHmBWufM99e
o6ECGzDQMLIqzJDMT8d00RAsJaKeespIWCIBvasyEBahZgK5Klb4mwRMVqZLPt0o
HPgpITmPe5CPz8NZwmc2kyF37kYAuWcT2mzgr8eSAEtfd9sCAwEAAaOBkDCBjTAd
BgNVHQ4EFgQUnNCekbcIEq5v88ki/4zLsWfhIX0wUQYDVR0jBEowSIAUnNCekbcI
Eq5v88ki/4zLsWfhIX2hGqQYMBYxFDASBgNVBAMMC0Vhc3ktUlNBIENBghQsRPWu
Qjgf01o96o8Mbfn8REocJjAMBgNVHRMEBTADAQH/MAsGA1UdDwQEAwIBBjANBgkq
hkiG9w0BAQsFAAOCAQEAk+DYcW2wWHmoEQeNlRfoXicMa3rvYpUPo+GqPzaAb7w2
tkPbuIiUF5llZ1/mtt/vIvVQMMc+54ODQrjt3FF3Hdr94vsvtaywNFcpnuIvI3YH
N6kLKntD15fEWu0DVTRjjZz5oupcWA/kZnUy5GDBxmViNKPzccrbN4EvS7lY+D7H
+BYftl+Xy9PkAauzIy0uH3lEkWU4uQDG5SRMmUpZAIr82r+gJOPLzvB3HR5SWGxL
tT5WhiyaYZfyaHaNc4e2Ej/z3fyKCUC123ok38pNkjV7EflfxZzZaZMapmkaY49f
TDw022uU1N6vQ/111PSefr/caf+vGyMShuzyxmvTqQ==
-----END CERTIFICATE-----
</ca>
<cert>
Certificate:
    Data:
        Version: 3 (0x2)
        Serial Number:
            cf:c8:1d:11:c2:34:a3:fd:e1:a7:68:4b:5c:8e:6d:ed
        Signature Algorithm: sha256WithRSAEncryption
        Issuer: CN=Easy-RSA CA
        Validity
            Not Before: Mar 28 15:03:07 2022 GMT
            Not After : Jun 30 15:03:07 2024 GMT
        Subject: CN=clientserv
        Subject Public Key Info:
            Public Key Algorithm: rsaEncryption
                RSA Public-Key: (2048 bit)
                Modulus:
                    00:c3:31:0c:55:10:48:e2:5c:fc:00:f5:48:6c:c0:
                    a6:29:f5:6a:07:87:4f:50:13:9a:c7:83:46:31:e2:
                    7a:ea:ab:5e:bc:d5:e9:48:12:95:ca:30:42:32:a5:
                    98:98:6c:57:1b:10:2e:0d:b7:af:49:ca:81:83:dc:
                    8c:8c:c1:ec:8f:48:73:c4:70:c2:a9:e0:3c:3c:10:
                    a7:92:33:02:0f:3c:66:72:cd:c1:fd:b9:04:99:ae:
                    ee:63:52:15:db:cf:26:74:47:c2:19:17:d4:57:63:
                    20:ae:31:87:48:54:b1:f0:76:5a:ad:bb:df:d6:7c:
                    a5:7e:d0:90:39:4f:5b:9f:4f:33:d0:06:36:d5:b6:
                    ab:34:36:62:41:84:ab:55:f9:15:1e:80:0b:e1:57:
                    49:9c:23:6d:35:74:5d:5a:cb:70:46:2a:47:a5:e4:
                    d5:fe:09:e8:b0:a2:0c:0a:21:9a:66:21:df:4b:36:
                    9e:8e:52:e5:32:f4:e8:28:6c:f3:d9:09:90:35:24:
                    95:b3:f2:cb:25:a8:78:84:c2:66:e1:f2:ad:ec:d8:
                    62:e5:23:95:0a:c8:bd:db:82:bf:57:8f:d7:44:24:
                    25:33:fc:3e:dd:86:fb:78:5b:7e:d2:61:18:a0:7b:
                    e9:39:00:e3:47:4e:fc:0c:dd:4b:3b:45:34:7d:4f:
                    19:c9
                Exponent: 65537 (0x10001)
        X509v3 extensions:
            X509v3 Basic Constraints: 
                CA:FALSE
            X509v3 Subject Key Identifier: 
                86:DB:28:AD:3A:77:2E:BA:41:7B:3E:3B:D0:90:4D:5B:D5:C5:4F:A9
            X509v3 Authority Key Identifier: 
                keyid:9C:D0:9E:91:B7:08:12:AE:6F:F3:C9:22:FF:8C:CB:B1:67:E1:21:7D
                DirName:/CN=Easy-RSA CA
                serial:2C:44:F5:AE:42:38:1F:D3:5A:3D:EA:8F:0C:6D:F9:FC:44:4A:1C:26

            X509v3 Extended Key Usage: 
                TLS Web Client Authentication
            X509v3 Key Usage: 
                Digital Signature
    Signature Algorithm: sha256WithRSAEncryption
         56:2e:42:1b:86:fa:87:f5:1b:63:94:af:52:29:18:47:32:44:
         4e:c7:3f:6c:f5:cb:67:8f:db:06:b6:d4:29:33:67:45:5b:f0:
         50:d5:35:4e:a0:8b:36:c3:f8:36:ca:82:59:7a:40:38:88:89:
         38:08:ca:6b:6a:ef:ca:3d:9e:15:35:9e:50:81:29:e3:f7:94:
         c4:4a:02:5e:9e:97:4b:92:b2:37:f9:e8:c1:2c:ae:23:f2:28:
         ca:9c:b7:18:25:2b:96:01:34:ef:a2:00:e0:5e:ec:2b:97:68:
         78:b0:09:ec:f9:4b:78:66:f4:b6:c4:7b:46:2c:48:d1:32:92:
         68:a7:3a:c9:96:dd:0b:0d:e1:4c:c2:e9:01:6a:db:7b:e8:72:
         36:3e:d9:a6:63:89:11:4f:d3:35:bb:dd:9c:71:b4:54:84:7e:
         40:de:8e:f1:79:d5:b7:4f:e5:d0:97:4b:05:27:14:4a:84:58:
         5a:fc:7d:8d:1c:80:fa:ee:e3:25:c0:97:50:e5:e3:62:27:39:
         0a:76:0a:cf:52:f3:cc:4d:53:4b:10:a7:65:e6:69:79:96:cd:
         66:a6:ee:a3:c6:c1:42:fd:98:d6:aa:60:33:01:79:c5:c7:56:
         ad:36:28:c8:6b:c5:8e:0b:97:74:12:ae:65:c0:43:3b:f9:1d:
         69:8b:48:4a
-----BEGIN CERTIFICATE-----
MIIDWTCCAkGgAwIBAgIRAM/IHRHCNKP94adoS1yObe0wDQYJKoZIhvcNAQELBQAw
FjEUMBIGA1UEAwwLRWFzeS1SU0EgQ0EwHhcNMjIwMzI4MTUwMzA3WhcNMjQwNjMw
MTUwMzA3WjAVMRMwEQYDVQQDDApjbGllbnRzZXJ2MIIBIjANBgkqhkiG9w0BAQEF
AAOCAQ8AMIIBCgKCAQEAwzEMVRBI4lz8APVIbMCmKfVqB4dPUBOax4NGMeJ66qte
vNXpSBKVyjBCMqWYmGxXGxAuDbevScqBg9yMjMHsj0hzxHDCqeA8PBCnkjMCDzxm
cs3B/bkEma7uY1IV288mdEfCGRfUV2MgrjGHSFSx8HZarbvf1nylftCQOU9bn08z
0AY21barNDZiQYSrVfkVHoAL4VdJnCNtNXRdWstwRipHpeTV/gnosKIMCiGaZiHf
SzaejlLlMvToKGzz2QmQNSSVs/LLJah4hMJm4fKt7Nhi5SOVCsi924K/V4/XRCQl
M/w+3Yb7eFt+0mEYoHvpOQDjR078DN1LO0U0fU8ZyQIDAQABo4GiMIGfMAkGA1Ud
EwQCMAAwHQYDVR0OBBYEFIbbKK06dy66QXs+O9CQTVvVxU+pMFEGA1UdIwRKMEiA
FJzQnpG3CBKub/PJIv+My7Fn4SF9oRqkGDAWMRQwEgYDVQQDDAtFYXN5LVJTQSBD
QYIULET1rkI4H9NaPeqPDG35/ERKHCYwEwYDVR0lBAwwCgYIKwYBBQUHAwIwCwYD
VR0PBAQDAgeAMA0GCSqGSIb3DQEBCwUAA4IBAQBWLkIbhvqH9RtjlK9SKRhHMkRO
xz9s9ctnj9sGttQpM2dFW/BQ1TVOoIs2w/g2yoJZekA4iIk4CMprau/KPZ4VNZ5Q
gSnj95TESgJenpdLkrI3+ejBLK4j8ijKnLcYJSuWATTvogDgXuwrl2h4sAns+Ut4
ZvS2xHtGLEjRMpJopzrJlt0LDeFMwukBatt76HI2PtmmY4kRT9M1u92ccbRUhH5A
3o7xedW3T+XQl0sFJxRKhFha/H2NHID67uMlwJdQ5eNiJzkKdgrPUvPMTVNLEKdl
5ml5ls1mpu6jxsFC/ZjWqmAzAXnFx1atNijIa8WOC5d0Eq5lwEM7+R1pi0hK
-----END CERTIFICATE-----
</cert>
<key>
-----BEGIN PRIVATE KEY-----
MIIEvwIBADANBgkqhkiG9w0BAQEFAASCBKkwggSlAgEAAoIBAQDDMQxVEEjiXPwA
9UhswKYp9WoHh09QE5rHg0Yx4nrqq1681elIEpXKMEIypZiYbFcbEC4Nt69JyoGD
3IyMweyPSHPEcMKp4Dw8EKeSMwIPPGZyzcH9uQSZru5jUhXbzyZ0R8IZF9RXYyCu
MYdIVLHwdlqtu9/WfKV+0JA5T1ufTzPQBjbVtqs0NmJBhKtV+RUegAvhV0mcI201
dF1ay3BGKkel5NX+CeiwogwKIZpmId9LNp6OUuUy9OgobPPZCZA1JJWz8sslqHiE
wmbh8q3s2GLlI5UKyL3bgr9Xj9dEJCUz/D7dhvt4W37SYRige+k5AONHTvwM3Us7
RTR9TxnJAgMBAAECggEBAI2x0mkBzFb+9zVe2feQlk9JR3I1qL7RrH9+7XsTFPW7
96cPhix6yWAgTj3j9nVX2Jfd1ADDQi1II2LsvN8Fe8u75cZJsRaOoEteL7cy7iDP
UPOwKE4efJdv5MAW+6U4qIqq+N0sbkoNvNCXRcSdLxsHX+ZUxzY2ABGiJ8BiunlX
SY0LTxzcrBVH722H3fnjDVMKAJ8sQxtcvwEUJWQfI48F+5mlXBo5k/HvQvMOIOmO
fA7uR6EU/zSQ0Gm7hqml0OTq4kF1H6S3jUss3ZJ+rEUtRDRbLyZmuoyjw3eXMeNj
qgh+MD6xGP5xyB41PrBVBGyMemjuZU0isGSbGCtAhbECgYEA7I489iInJBwlslwT
oFOMZPVYhezv7/XCFZ6GToD6LhLl2o5HwGrLCbAYEN5IZVNlkHACQp+t5btncvb0
TsLOfy0ipvZv8v/cyWSaw/gRNQOEEEaYlC5aHjeagykaDHb0UAOB63FKHU0FoqOb
xN54MBaANaN7PrpYQf3UGHa/dqUCgYEA0zxmibGFvXEvUTMF3gq+T6AjBW3aXfkN
6zvYZaUC0xJKLNAmKSBijSu7IbEmp+kKqDoIG7rVRkWynRGYPWZclkxJuCHdQqYX
3i8IScU4BW5cQ1QfOZxv0uXApCq+YmbrHCtDMZwAu1MUm3n78dTsxO1E6BdftrIM
V+MEa5pg0VUCgYEAx6fdyBhXVOD06C9S2VTrACMbzh2G/c89OqYL0aKGhfCpU+gW
o07/g3O/PC2AiRT0eg4vui+vxGCCFcRdu0QsqaZcwvLo1f4iSVDCV3i+fTI0etA6
44ajxTFFFkLQm4ii+A2d0CxUU5q4kObqCCWE54F2QM90rCL3butf4i4Ht4kCgYA9
29pLSGlZ6ONqa/6z34GL3+FhnaHtExo4YPYmDgSduyVtqicCtDEoFj5ex3oCggRU
72mgdT4vrgl4ZcandGp4uS59da1N70XeEvfiYpbdQExUizX5sQ4uPIoFiV7ngiwn
u6OZy42LTfEi9r4JO8l6geFD9lRZNBrZQenxeOwRYQKBgQCw0q+4aT6qdK339sQy
7eLczJaJ0MldZtpim7L3YJ6sQ2i7dERygdMGE4Mvi0xGtfJRW5STVp5WEWNPAXLI
9PuM9ORqYLnvdHpyxGeEeRgI5noa5ocmRtvzhv7uJ6UtkNmO7qHOaxMi/Q58T9Gj
a8wVLkluQPDI9sN0xZj3CgHPfQ==
-----END PRIVATE KEY-----
</key>